.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}
.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: 0.4s;
}
.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.hover-5::after {
  content: "";
  width: 100%;
  height: 10px;
  background: #47c650;
  position: absolute;
  bottom: -10px;
  left: 0;
  display: block;
  transition: 0.3s;
  z-index: 999;
}
.hover-5 .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
}
.hover-5-title {
  position: absolute;
  bottom: 1rem;
  left: 0;
  transition: 0.3s;
  padding: 2rem 3rem;
  z-index: 99;
}
.hover-5-title span {
  transition: 0.4s;
  opacity: 0;
  color: #47c650;
}
.hover-5:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}
.hover-5:hover .hover-5-title,
.hover-5:hover::after {
  bottom: 0;
}
.hover-5:hover .hover-5-title span {
  opacity: 1;
}
*,
:after,
:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0;
}
.drop {
  width: 90%;
  height: 220px;
  border: 3px dashed #dadfe3;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  background: 0 0;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  margin: 0 auto 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.drop .cont {
  width: 500px;
  height: 170px;
  color: #8e99a5;
  -moz-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.drop .cont i {
  font-size: 40px;
  color: #787e85;
  position: relative;
}
.drop .cont .tit {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
}
.drop .cont .desc {
  color: #787e85;
  font-size: 18px;
}
.drop .cont .browse {
  margin: 10px 25%;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  background: #00c993;
}
.drop input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: red;
  opacity: 0;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#list {
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}
.dashed_upload {
  height: 200px;
}
.backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 10;
  visibility: hidden;
}
.backdrop-transition {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: visibility;
}
.backdrop-dark {
  background-color: rgba(0, 0, 0, 0.8);
}
.bs-icon {
  --bs-icon-size: 0.75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}
.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}
.bs-icon-sm {
  --bs-icon-size: 1rem;
}
.bs-icon-md {
  --bs-icon-size: 1.5rem;
}
.bs-icon-lg {
  --bs-icon-size: 2rem;
}
.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}
.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}
.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), 0.2);
}
.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, 0.5);
}
.bs-icon.bs-icon-rounded {
  border-radius: 0.5rem;
}
.bs-icon.bs-icon-circle {
  border-radius: 50%;
}
.fit-cover {
  object-fit: cover;
}
