{% extends "base.html"%} {% block title %}Signup{% endblock %} {% block content
%} {% with messages = get_flashed_messages() %} {%if messages%} {%for msg in
messages%}
<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  style="margin: 0px"
>
  {{msg}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{%endfor%} {%endif%} {% endwith %}
<div class="signup-page">
  <form method="post">
    <div class="sigupdiv1" style="padding: 30px">
      <h1>Register Your Profile</h1>
      <div class="signup-full-row">
        <h5>Usernname</h5>
        <input type="text" name="username" required />
      </div>
      <div class="signup-name">
        <div>
          <h5>Name</h5>
          <input type="text" name="name" required />
        </div>
        <div>
          <h5>Surname</h5>
          <input type="text" name="surename" required />
        </div>
      </div>
      <div class="signup-full-row">
        <h5>Address</h5>
        <input type="text" name="address" required />
      </div>
      <div class="signup-name">
        <div>
          <h5>Email</h5>
          <input type="text" name="email" required />
        </div>
        <div>
          <h5>Phone Number</h5>
          <input type="text" name="phone_no" required style="width: 100%" />
        </div>
      </div>
      <div class="signup-name">
        <div>
          <h5>City</h5>
          <input type="text" name="city" required />
        </div>
        <div>
          <h5>State</h5>
          <input type="text" name="state" required />
        </div>
      </div>
      <div class="signup-full-row">
        <h5>Password</h5>
        <input type="text" name="password" required />
      </div>
      <div style="margin-top: 25px; float: right">
        <button type="submit">REGISTER</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
