{% extends "base2.html"%} {% block title %}Tree_count{% endblock %} {% block
content %} {% with messages = get_flashed_messages() %} {%if messages%} {%for
msg in messages%}
<div
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
  style="margin: 0px; border-radius: 0px"
>
  {{msg}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{%endfor%} {%endif%} {% endwith %}
<section
  class="py-4 py-xl-5"
  style="
    background: url('/static/treecountingbanner.jpg') center / cover no-repeat;
  "
>
  <div class="container h-100">
    <div class="row h-100">
      <div
        class="col-md-10 col-xl-8 offset-xl-4 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center"
      >
        <div>
          <h2
            class="text-uppercase fw-bold mb-3"
            style="color: var(--bs-white)"
          >
            Welcome to Our Tree Counting Page
          </h2>
          <p
            class="mb-4"
            style="
              padding-left: 0px;
              margin-left: -22px;
              margin-right: -33px;
              margin-top: -30px;
              color: var(--bs-white);
            "
          >
            <br />
            At EnviroScan, we're dedicated to environmental stewardship and the
            preservation of our planet's precious resources. Our tree counting
            page provides a simple yet effective tool for assessing and
            monitoring the number of trees in a given area. <br /><br />
          </p>
          <a href="#uplode">
            <button
              class="btn btn-primary fs-5 me-2 py-2 px-4"
              type="button"
              style="background-color: #0d986a; border: none"
            >
              Get Started
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid py-5" id="uplode">
  <div class="bg-light border rounded border-light jumbotron py-5 px-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Upload Image</h4>
        <form method="post" enctype="multipart/form-data">
          <input
            class="form-control"
            type="file"
            id="inputFileToLoad"
            name="image"
          />
          <p>Select the destination path for the upload</p>
          <p>Enter Latitude</p>
          <input type="text" name="latitude" class="form-control" />
          <p>Enter Longitude</p>
          <input type="text" name="longitude" class="form-control" />
          <p>Select the image to upload</p>
          <div class="mt-4">
            <button
              class="btn btn-success btn-lg"
              type="submit"
              style="background-color: #0d986a"
              onclick="reloadContent()"
            >
              Upload
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-lg-0" style="padding: 10px">
      <div class="hover hover-5 text-white rounded">
        {%if filename%}
        <img src="/static/adminuploads/{{filename}}" alt="Uploaded Image" />
        {%else%}
        <img src="/static/image-placeholder.png" alt="Uploaded Image" />
        {%endif%}
      </div>
      <h2 style="margin: 11px 0px 8px 16px; text-align: center">
        Original Image
      </h2>
    </div>
    <div class="col-md-6 mb-lg-0" style="padding: 10px">
      <div class="hover hover-5 text-white rounded">
        {%if filename%}
        <img
          src="{{ url_for('static', filename='greenspace/'+filename) }}"
          alt="Uploaded Image"
        />
        {%else%}
        <img src="/static/image-placeholder.png" alt="Uploaded Image" />
        {%endif%}
      </div>
      <h2 style="margin: 11px 0px 8px 16px; text-align: center">
        Processed Image
      </h2>
    </div>
  </div>
</div>
<div
  class="container py-4 py-xl-5"
  style="padding-top: 25px; margin-top: -64px; margin-bottom: -54px"
>
  <section class="py-3 py-xl-5">
    <div class="container">
      <div class="row mb-2">
        <div class="col-md-8 col-xl-10 text-center mx-auto">
          <h5 class="display-6 fw-bold">
            Tree Census Snapshot: Summary Report
          </h5>

          <h4 style="margin: 20px 0px">
            <img
              style="margin-bottom: 1px; margin-right: 15px; padding-right: 0px"
            />
            {%if count%}
            <span style="color: rgb(13, 13, 13)"
              >Tree Count:&nbsp; {{count}}</span
            >
            {%else%}
            <span style="color: rgb(13, 13, 13)">Tree Count:&nbsp; 0</span>
            {%endif%}
          </h4>
        </div>
      </div>
      <form class="d-flex justify-content-center flex-wrap" method="post">
        <div class="mb-3"></div>
        <div class="mb-3"></div>
      </form>
    </div>
  </section>
  <div
    class="loading-screen"
    id="loadingScreen"
    style="background-color: rgba(0, 0, 0, 0.7)"
  >
    <div class="loader">
      <div class="inner one"></div>
      <div class="inner two"></div>
      <div class="inner three"></div>
      <br />
      <br />
      <div style="margin-left: -15px"><p>Loading</p></div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/script.min.js"></script>

{% endblock %}
